/* Container */

* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: block;
}

#container{
    height: 100%;
    border-bottom: 3px solid;
    background-color: #333333;
}

.webtext {
    font-family: monospace;
    color: white;
}

.webtext p {
    font-size: 20px;
}

/* Header */

a {
    text-decoration: none;
    color: white;
}

#header{
    background-color: black;
    width: 100%;
    position: fixed;
    border-bottom: 3px solid darkred;
    z-index: 10;
}

h1 {
    color: white;
    display: inline-block; 
    float: left;
    font-family: sans-serif;
    line-height: 50px;
    padding-left: 75px;
    padding-right: 25px;
    border-right: 1px solid white;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 508px;
    /*border: 1px solid red;*/
    overflow: hidden;
    /*margin: auto;*/
}

#header ul li {
    display: inline-block;
    /* border: 1px solid yellow; */
    width: 125px;
    height: 50px;
    text-align: center;  
    float: left;
    color: white;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid white;
}

#header ul li:hover{
    background-color: #333333;
    /*color: orange;*/
}

#header ul li p {
    /*border: 1px solid black;*/
    font-family: serif;
    font-size: 20px;
    line-height: 50px;
}

/* Body */

#body {    
    height: 100%;
    padding: 50px;
}

#game {
    width: 640px;
    height: 480px;
    margin: auto;
    border: 3px solid darkred;
    background-color: whitesmoke;
    margin-top: 10%;
    margin-bottom: 10%;
}

#instructions h2 {
    text-align: center;
}

#commands h2 {
    text-align: center;
}

#keywords h2 {
    text-align: center;
}

#instructions {
    width: 500px;
    height: 150px;
    margin-right: 50px;
    border: 3px solid darkred;
    display: inline-block;
    float: left;
    margin-bottom: 50px;
    padding: 25px;
}

#commands {
    width: 500px;
    height: 150px;
    display: inline-block;
    float: right;
    border: 3px solid darkred;
    margin-bottom: 50px;
    padding: 25px;
}

#keywords {
    width: 750px;
    height: 300px;
    clear: both;
    margin: auto;
    border: 3px solid darkred;
    padding: 25px;
}